/*
//build in version 1.0.0
//file version 1.0.7
//main stylesheet for template app_on_start_preloading.html(as in version1.0.0)
*/

.draggable {
    -webkit-app-region: drag;
}

.root {
    background: #172b4d;
}

.logo-display {
    position: absolute;
    margin-top: 25px !important;
    margin-left: 92px !important;
    height: 75px;
    width: 75px;
}

.logo-display > .logo-in-loading {
    height: 100%;
    width: 100%;
}

.verbox-text-holder > .verbox-text {
    padding-top: 35px !important;
    padding-left: 37px !important;
    text-align: center;
}

.loading-animation-parent-holder {
    margin-top: 20px !important;
    height: 3px;
    width: 90%;
    margin-left: 5% !important;
    background: #172b4d;
}

.loading-animation-parent-holder > .loading-animation-child-holder {
    z-index: 999 !important;
}

.loading-animation-parent-holder > .loading-animation-child-holder > .main-animator {
    height: 3px;
    width: 0;
    background: rgb(7, 71, 166);
    -webkit-animation: long-run 5s ease infinite;
            animation: long-run 5s ease infinite;
}

@-webkit-keyframes long-run {
    0% {
        width: 0;
    }

    50% {
        width: 360px;
    }
}

@keyframes long-run {
    0% {
        width: 0;
    }

    50% {
        width: 360px;
    }
}

.sub-animator {
    height: 5px;
    width: 5px;
    background: #172b4d;
    border-radius: 50%;
}

#one {
    -webkit-animation: short-run 1s linear infinite;
            animation: short-run 1s linear infinite;
}

#two {
    -webkit-animation: short-run 1.5s linear infinite;
            animation: short-run 1.5s linear infinite;
}

#three {
    -webkit-animation: short-run 2s linear infinite;
            animation: short-run 2s linear infinite;
}

@-webkit-keyframes short-run {
    100% {
        margin-left: 360px;
    }
}

@keyframes short-run {
    100% {
        margin-left: 360px;
    }
}

.pre-loading-text-holder > .non-selectable {
    padding-top: 15px !important;
    text-align: center;
    font-size: 10px;
}