/*
//build in version 1.0.0
//file version 1.0.2
//base styling file for all html templates
*/

/*
//font-color: #fff;
//theme-colors: [#fff, rgb(7, 71, 166)]
//sub-theme-color: #172b4d;
*/

@import url(fonts.css);

* {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none !important;
    border: none;
    outline: 0;
}

.container-fluid {
    overflow: hidden;
    padding: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
}

.root, .main {
    height: 100%;
    width: 100%;
}

.non-selectable {
    cursor: default;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;